<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./card.css">
</head>
<body>
    <section class="intro">
        <h1>Enter the frame</h1>
    </section>

    <section class="sticky-cards">
        <div class="card" id="card-1">
            <div class="col">
                <p>Quite Control</p>
                <h1>Signal Drift</h1>
            </div>
            <div class="col">
                <img src="" alt="" srcset="">
            </div>
        </div>
        <div class="card" id="card-2">
            <div class="col">
                <p>Quite Control</p>
                <h1>Signal Drift</h1>
            </div>
            <div class="col">
                <img src="" alt="" srcset="">
            </div>
        </div>
        <div class="card" id="card-3">
            <div class="col">
                <p>Quite Control</p>
                <h1>Signal Drift</h1>
            </div>
            <div class="col">
                <img src="" alt="" srcset="">
            </div>
        </div>
        <div class="card" id="card-4">
            <div class="col">
                <p>Quite Control</p>
                <h1>Signal Drift</h1>
            </div>
            <div class="col">
                <img src="" alt="" srcset="">
            </div>
        </div>
    </section>

    <section class="outro">
        <h1>Loop Complete</h1>
    </section>
    
    <script type="module" src="./card.js"></script>
</body>
</html>