@import "tailwindcss";

:root {
  --background: #07070a;
  --foreground: #ffffff;

  /* font variables already provided by Next/font */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}